<h2>Добавить сотрудника</h2>
<form action="/add" method="POST">
    <p>
        Name:<input type="text" name="name">
    </p>
    <p>
        Department:<input type="text" name="dep">
    </p>
    <p>
        Salary:<input type="text" name="salary">
    </p>
    <input type="submit" value="Добавить">
</form>