@(list: List[Employee])

@main("Welcome to Play") {
<h2>Staff</h2>
<ul>
 @for(e <- list) {
  <li>@e.toString</li>
 }
</ul>

 @find()

 @add()

 <h2>Не придумал, откуда взять все отделы. Из контроллера?</h2>
  <a href="/salary">Общая зарплата</a><br>
  <a href="/salary?dep=qa">Зарплата QA</a>

 <h2>-.-</h2>
 <a href="/avg">Средняя зарплата</a><br>
 <a href="/avg?dep=qa">Средняя зарплата QA</a>
}

